.dialog-wrapper{
  display: flex;
  flex-direction: column;

  width: auto;
  min-width: 280px;
  max-width: 100%;


  padding: 16px 20px;
  gap: 6px;
  border-radius: 5px;
  height: 100%;
  margin: 0 auto;

  box-shadow: rgba(23, 16, 16, 0.95) 0 2px 20px 0;
  background-color: rgb(34, 34, 34);


  @media screen and (min-width: 440px) {
    max-width: 440px;
  }


}




.content{
  flex: 1;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 14px;
  padding: 10px 0;
}

.status-success, .status-error, .status-info, .status-warning{
  color: #fff;
}



.header-wrapper{
  width: 100%;
  height: 25px;
  flex: 0 0 auto;

  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 20px;
  line-height: 100%;
}

.header-wrapper > svg{
  flex: 0 0 auto;
  width: 18px;
}

.status-success .header-wrapper{
  color: var(--success-color, var(--default-success-color));
}

.status-warning .header-wrapper{
  color: var(--warning-color, var(--default-warning-color));
}

.status-danger .header-wrapper{
  color: var(--danger-color, var(--default-danger-color));
}

.status-info .header-wrapper{
  color: var(--info-color, var(--default-info-color));
}


.status-code{
  font-size: 12px;
  color: #9d9a9a;
  text-align: center;
}


.button-group{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;
}

.button{
  flex: 0 0 auto;
}

.custom-button{
  flex: 1;
  max-width: 50%;
}

.custom-text-field, text-field {
  flex: 0 0 auto;
}

.input-wrapper{
  padding: 10px 0;
}
.text-field {
  height: 30px;
}


