.button-group{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;
}

.button{
  flex: 0 0 auto;
}

.custom-button{
  flex: 1;
  max-width: 50%;
  height: 28px;
}


