.root *,
.root *::before,
.root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
}


.root{
    position: fixed;
    max-width: 100%;
    width: auto;

    margin: 0 auto;
    z-index: var(--dialog-portal-index, var(--default-portal-index));

    display: flex;
    flex-direction: column;
}
